<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Grid</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="https://indian-art.info/">
            <img src="https://storage.googleapis.com/ancient-artefact-viewer-asssets/1682608157509.jpeg" alt="Vikram Pawar">
        </a>
        <a class="navbar-brand" href="https://indian-art.info/">
            <span class="navbar-brand-title" >Indian Art Explorer</span>
            <span class="author-text">By Vikram</span> <!-- Small author text added -->
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="btn btn-primary" href="https://indian-art.info/latest">Latest Finds</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="grid-container" id="imageGrid">
        <!-- Dynamically generated images will go here -->
    </div>

    <!-- Modal for displaying zoomed image -->
    <div id="imageModal" class="modal card mb-4">
        <span class="close">&times;</span>
        <img class="image-squre-wrapper img" id="zoomedImage">
        <div class="card-title">
            <h5>
                <a href="#" id="imageTitleLink">Image Title</a>
            </h5>
        </div>
        <!-- Small paragraph for the description -->
        <div class="card-body">
            <p id="imageDescription">This is the description of the image.</p>
        </div>
    </div>

    <script>
        var imageArray = {{ images|tojson }};
    </script>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
